<table>
    <tr>
        <td><img src="{{site.baseurl}}//images/logo.png" height="60" title="Frontend" alt=""></td>
        <td><a href="{{site.baseurl}}/frontend/overview">Overview</a></td>
        <td><a href="{{site.baseurl}}/frontend/tutorial">278</a></td>
        <td><a href="{{site.baseurl}}/frontend/calculator">run</a></td>
        <td><a href="{{site.baseurl}}/frontend/binary">beans</a></td>
        <td><a href="{{site.baseurl}}/frontend/grades">cool</a></td>
        <td><a href="{{site.baseurl}}/frontend/graph">super</a></td>
        <td><a href="{{site.baseurl}}/frontend/life">wow</a></td>
        <td><a href="{{site.baseurl}}/frontend/snake">idk</a></td>
    </tr>
</table>